VITE_LEAD_INTAKE_API_URL=https://n2s6trcvfc.execute-api.us-west-2.amazonaws.com/default/lead-intake
VITE_LEAD_INTAKE_UPDATE_API_URL=https://n2s6trcvfc.execute-api.us-west-2.amazonaws.com/default/lead-intake/update
VITE_AI_CHAT_API_URL=https://56c1v9b79l.execute-api.us-east-1.amazonaws.com
VITE_AI_CHAT_COMPANY_ID=timpson-application-development
VITE_GOOGLE_ADS_TAG_ID=AW-18000073767
VITE_GOOGLE_ADS_REVIEW_REQUEST_LABEL=MPMmCOrr0MQcEKeojYdD
